[Unit]
Description=Run DTAP DjangoCMS
DefaultDependencies=no
After=nginx.service

[Service]
Type=forking
User=deploy
Group=deploy
WorkingDirectory=/home/deploy/Software/Stichting/dtap/
ExecStart=/home/deploy/Software/Stichting/dtap/startProduction.sh
Restart=on-abort

[Install]
WantedBy=multi-user.target