{% extends 'helios_base.html' %}
{% load cms_tags menu_tags %}

{% block title %}{% page_attribute "page_title" %}{% endblock title %}

{% block content %}
<!-- Header -->
<div id="header">
	<!-- Inner -->
		<div class="inner">
			<header>
				<h1>{% page_attribute "page_title" %}</h1>
				<hr />
				<p>{% placeholder "subtitle" %}</p>
			</header>
			<footer>
				<a href="#banner" class="button circled scrolly">Events</a>
			</footer>
		</div>

	<!-- Nav -->
		<nav id="nav">
			<ul>
				{% show_menu 0 100 100 100 %}
			</ul>
		</nav>

</div>

<!-- Banner -->
<section id="banner">
	<header>
		{% placeholder "banner" %}
	</header>
</section>

<!-- Carousel -->
<section class="carousel">
	{% placeholder "carousel" %}
</section>

<!-- Main -->
<div class="wrapper style2">
	{% placeholder "main" %}
</div>

<!-- Features -->
<!-- <div class="wrapper style1">
	{% placeholder "features" %}
</div> -->
<script type="text/javascript">
	document.body.classList.add('homepage');
</script>

{% endblock content %}
	   

				
		